

    html, body {
        width: 100%;
        height: 100%;
        margin: 0;
        background:#f3f7fc;
    }
  div#divAll{
        width: 100%; 
        height: 100%;
        background: red;
    }
    #divLeading{
        width: 200px;
    }

  