/* styles for the whole application */

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

#bc {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

#sidebar {
  width: 15%;
}

#center_panel {
  margin: 0;
  padding: 0;
  border: none;
}

