#principal {
	position:relative;
	height:70%;
}

#divAction{
 	position: absolute;
 	width:100%;
 	top:440px;
 	left:5px;
}

#divForm{
 	position: absolute;
 	width: 45%;
 	top:5px;
 	left:5px;
}

#divformdroit{
	position:absolute;
	width: 100%;
	top:260px;
	left:5px;
}

#newuserformID  .saisie{
 float:right;
}
#divuser{
	position: absolute;
	width: 50%;
	top: 5px;
	right: 5px;
	height: 230px;	
}