#principal {
	position:relative;
	height:60%;
}

#divTabRole{
 	position: absolute;
 	width:55%;
 	top:5px;
 	right:5px;
}

#divForm{
 	position: absolute;
 	top:5px;
 	left:5px;
 	border-color: red;
 	z-index: 3;

}

#newuserformID  .saisie{
 float:right;
 border:1px solid ##B0C4DE;
 border-radius:5px;
 box-shadow:1px 1px 2px #C0C0C0 inset;
}

#roleID{
 	width:350px;
 	margin-left: auto;
 	margin-right: auto;
 	text-align: center;
}

#sub{
	height:40%;	
}