.tab {
  display: block;
  height: 100%;
  overflow: hidden;
  float: left;
  margin: 0;
}

.tab fieldset {
  height: 100%;
  width: 30%;
  padding: 0;
  margin: 0;
}

.tab label {
  display: block;
  clear: both;
}

.tab input {
  padding-left: 3.5em;
  float: right;
}

.tab button {
  float: right;
}

