.tab {
  display: block;
  height: 100%;
  overflow: hidden;
  float: left;
  margin: 0;
}

fieldset.tab {
  height: 100%;
}

.tab label {
  display: block;
  font-weight: bold;
}

.tab input {
  padding-left: 3.5em;
  float: right;
}

.tab button {
  float: right;
}

/* hack to get around dijits floating left */
.tab .dijit {
  float: right;
}
