.bika-form {
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.bika-form fieldset {
  border: none;
  height: 100%;
  width: 30%;
  padding: 1em;
  margin: 0;
  display: block;
  float: left;
}

.bika-form label {
  display: block;
  clear: both;
}

/* leave checkboxes alone */
.bika-form input:not([type=checkbox]) {
  float: right;
  width: 73%;
}

.bika-form button {
  float: right;
  clear: both;
}

.bika-form select {
  float: right;
  width: 74%;
}
