#wrapper {
  font-family: Arial, sans-serif;
  width: 850px;
  margin: auto;
  padding-top: 50px;
}

#wrapper h1 {
  text-align: center;
}

#notes p:first-child {
  font-weight: bold;
}

#notes p:nth-child(2) {
  font-size 0.8em;
  text-indent: 18px;
}

#rerun {
  padding: 10px;
  border-radius: 8px;
  text-transform: uppercase;
  font-weight: bold;
  background: rgba(0,0,0,0.3);
  border: 1px solid black;
  width: 100px;
  text-align: center;
  cursor: pointer;
}
